body{
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 0.9em;
}

a{
    margin: 5px;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

nav{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-right: 10px;
}

ul > a , ul > img{
    padding: 0px 8px;
}

.header-img:hover{
    box-shadow: 0 0 10px 0 gainsboro;
    border-radius: 25px;
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
}

h1{
    font-family:'Times New Roman', 'Times', 'serif';
    font-size: 6.5em;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 30px;
    border:1px solid gainsboro;
    border-radius: 20px;
}

.container:hover{
    box-shadow: 0 0 10px 0 gainsboro ;
}

.container > input{
    flex-grow: 1;
    border: none;
    outline: none;
}

img:hover{
    cursor: pointer;
}

.container-btn{
    padding-top: 53px;
}

button{
    background-color: #f8f9fa;
    border-radius: 5px;
    border:none;
    height: 55px;
    padding:0 31px;
    margin:0 4px;
}

button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 gainsboro;
}

footer{
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#footer-left{
display: flex;
justify-content: flex-start;
padding-left: 20px;
align-items: center;
}

#footer-right{
display: flex;
justify-content: flex-end;
margin-right: 20px;
align-items: center;
}

/* do thisif less than 630 px then */
@media(max-width: 630px){

    #footer-nav{
        flex-direction: column;
    }

    #footer-left{
        justify-content: center;
    }

    #footer-right{
        justify-content: center;
    }

    .container{
        width: 95vw;
    }
}

/* do this if less than */
@media(max-height:580px){

    body{
        overflow-x:hidden;
    }

    section{
        margin-bottom: 20px;
    }

    footer{
        position:relative;
    }

}

@media (max-height:635px) and (max-width:630px){

    body{
        overflow-x: hidden;
    }

    section{
        margin-bottom: 20px;
    }

    footer{
        position: relative;
    }
}